@model Agriculure.WebUi.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Home/Profile">Profile</a></li></ul></div>
<section class="FormSection" id="AddOfferForm">
    <div class="Account">
        <div class="row">

            <h3 class="form-group col-md-12 col-lg-12 col-12 pull-left">
                My Account
                <span>
                    <a href="/Users/Edit/@Model.ID" title="Edit Profile"><i class="fa fa-edit"></i></a>
                </span>
            </h3>

            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Name: </label>
                @Html.DisplayFor(model => model.Name)

            </div>
            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Password: </label>
                @ViewBag.pass
                <span>
                    <a href="/Users/ChangePassword/@Model.ID" title="change password"><i class="fa fa-edit"></i></a>
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Company name: </label>
                @Html.DisplayFor(model => model.CompanyName)

            </div>
            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Address: </label>
                @Html.DisplayFor(model => model.Address)

            </div>


            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Phone number: </label>
                @Html.DisplayFor(model => model.Phone)

            </div>
            <div class="form-group col-md-4 col-lg-4 col-12 pull-left">
                <label class="control-label">Lisence: </label>
                @Html.DisplayFor(model => model.Liecnse)

            </div>

            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">Email: </label>
                @Html.DisplayFor(model => model.Email)

            </div>
            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">User Type: </label>
                @Html.DisplayFor(model => model.Role.RoleName)
            </div>
            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                <label class="control-label">National ID: </label>
                @Html.DisplayFor(model => model.NID)

            </div>

        </div>
    </div>

</section>
