@model Agriculure.WebUi.ViewModel.UserVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/fonts\font-awesome-4.7.0\css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- <link rel="stylesheet" href="css/style2.css"> -->
    <link rel="icon" href="/imgs/imagesIcon.ico">

    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
</head>

<body>
    <div class="bodyContainer">
        <header class="bg-light">
            <div class="container nav-container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="/Home">
                            <img src="/imgs/images2.png" width="200" height="70" alt="">
                            <br />
                            <span class="ourWords">tranceparency . trust . trace</span>
                        </a>
                    </nav>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <h1 class="headerTxt text-center">@Agriculure.WebUi.LocalResources.Resource.Slogan</h1>

                    </div>
                </nav>
            </div>
        </header>
        <!--FormSection-->
        <div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Home/Register">Register</a></li></ul></div>

        <section class="FormSection" id="AddOfferForm">
            <div class="container Registration">
                @if (ViewBag.EmailNotValid != null)
                {
                    <div class="alert alert-danger">@ViewBag.EmailNotValid</div>
                }
                <div class="row">

                    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "RegisterForm col-md-12 col-lg-12 col-12" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-uppercase", @style = "font-weight: bold;" })
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                UserName:
                            </label>
                            @Html.TextBoxFor(z => z.Name, new { @class = "form-control", placeholder = "UserName" })
                            @Html.ValidationMessageFor(z => z.Name, "", new { @class = "text-danger font-bold", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Password:
                            </label>
                            @Html.PasswordFor(z => z.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(z => z.Password, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Email:
                            </label>
                            @Html.TextBoxFor(z => z.Email, new { @class = "form-control", @type = "email", placeholder = "Email" })
                            @Html.ValidationMessageFor(z => z.Email, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Phone Number:
                            </label>
                            @Html.TextBoxFor(z => z.Phone, new { @class = "form-control", @type = "tel", placeholder = "Phone Number" })
                            @Html.ValidationMessageFor(z => z.Phone, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Address:
                            </label>
                            @Html.TextBoxFor(z => z.Address, new { @class = "form-control", placeholder = "Address" })
                            @Html.ValidationMessageFor(z => z.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                National Id:
                            </label>
                            @Html.TextBoxFor(z => z.NID, new { @class = "form-control", @type = "number", placeholder = "National Id" })
                            @Html.ValidationMessageFor(z => z.NID, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                User Type:
                            </label>
                            @Html.DropDownListFor(z => z.RoleID,
                                ViewBag.FarmerSID as SelectList,
                                " Select a Stack Holder Type ",
                                new { @class = "form-control", @style = "width:100%", @tabindex = "-1" })
                            @Html.ValidationMessageFor(z => z.RoleID, "The User Type field is required", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Lisence:
                            </label>
                            @Html.TextBoxFor(z => z.Liecnse, new { @class = "form-control", placeholder = "Lisence" })
                            @Html.ValidationMessageFor(z => z.Liecnse, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                            <label>
                                Company:
                            </label>
                            @Html.TextBoxFor(z => z.CompanyName, new { @class = "form-control", placeholder = "Company Name" })
                            @Html.ValidationMessageFor(z => z.CompanyName, "", new { @class = "text-danger", @style = "font-weight: bold;" })
                        </div>

                        @*<div class="form-group col-md-4 col-lg-4 col-12 pull-left">
                                <input class="form-control" type="email" placeholder="Email" />
                            </div>
                            <div class="form-group col-md-2 col-lg-2 col-12 pull-left">
                                <input class="btn btn-block" type="button" value="Attach" />
                            </div>

                            <div class="form-group col-md-3 col-lg-3 col-12 pull-left btnSubmit">
                                <input class="btn btn-block" type="submit" value="Cancel" />
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-12 pull-left">
                                <textarea class="form-control" placeholder="national ID"></textarea>
                            </div>*@
                        <div class="form-group col-md-3 col-lg-3 col-12 pull-left btnSubmit">
                            <input class="btn btn-block" type="submit" value="Register" />
                        </div>
                    }
                </div>
            </div>

        </section>



    </div>

    <footer>
        <section class="text-center">
            <div>
                <p class="text-center">
                    CopyRight &copy; 2020, all rights reserved <span>MasriTech</span>
                </p>
            </div>
        </section>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/site.js"></script>
    <!--<script src="js/site2.js"></script>-->
</body>

</html>

