@model Agriculure.WebUi.Models.Farmer

@{
    ViewBag.Title = "Details";
}

<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Farmers">Farmers</a></li>/<li>Farmer Details</li></ul></div>

<div>
    <h4>Farmer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerLiecnse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerLiecnse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmerSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerSID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
