@model IEnumerable<Agriculure.WebUi.Models.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #AddOfferForm {
        width: 90%;
    }

    .contracts-container {
        padding: 50px 0;
        width: 85%;
        margin: 5px auto;
    }

    .bodyContainer {
        padding-bottom: 1px;
    }

    .card-img-top-div {
        width: 100%;
        height: 180px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
</style>

@*<section class="FormSection" id="AddOfferForm">
        <div class="Registration">


            <h2>Products : </h2>

            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Liecnse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.image)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Liecnse)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <img src="~/imgs/@item.image" width="100" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                            <a href="@Url.Action("Delete","Products", new { id = item.ID })"
                               onclick="return confirm('are you sure to delete item ?!')" class="btn btn-danger btn-icon-text" aria-label="Left Align">
                                Delete
                            </a>


                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>*@



<div class="contracts-container">

    <div class="row justify-content-between" style="width: 100%; background-color:#F0F0F0;padding:20px;border-radius:10px; margin-bottom:30px">
        <h2 class="col-2">Products: </h2>

        <input type="text" class="form-control col-2 mt-1 searchOffers" onkeyup="onSearchOffer('notClear', 'text')" placeholder="Search..." />
        <span class="col-2 mt-2" align="center">or by date</span>
        <input type="date" class="form-control col-2 mt-1 searchOffers-date" onchange="onSearchOffer('notClear', 'date')" />

        <div class="col-4 pt-1">
            <button class="btn btn-primary clear-search" onclick="onSearchOffer('')">clear</button>
            @Html.ActionLink("New Product", "Create", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("My Products", "UserProducts", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div class="row oldRes">

        @foreach (var item in Model)
        {

            <div class="col-md-6 col-lg-3">
                <div class="card mb-4 o-hidden" style="height: 380px; max-height:unset">
                    <div class="card-img-top-div" style="background-image:url(/imgs/@item.image)"></div>
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-capitalize">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="m-0 text-small text-muted"><small>@Html.DisplayFor(modelItem => item.User.Name)</small></p>
                        <p class="text-muted mt-3">
                            @Html.DisplayFor(modelItem => item.Liecnse)
                        </p>
                        <p class="text-muted mt-3">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <div class="actions">
                            @Html.ActionLink("Make Contract", "Index", new { id = item.ID }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@

                            @*<a href="@Url.Action("Delete","Products", new { id = item.ID })"
                                   onclick="return confirm('are you sure to delete item ?!')" class="btn btn-danger btn-icon-text" aria-label="Left Align">
                                    Delete
                                </a>*@
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<script>
    function onSearchOffer(clear, inputType) {
        debugger
        let searchVal = '';
        let searchValDate = new Date();

        if (clear !== '' && clear !== undefined && clear !== null) {
            if (inputType.includes('text')) {
                searchVal = $(".searchOffers").val();
                $(".searchOffers-date").val('');
            } else if (inputType.includes('date')){
                searchValDate = $(".searchOffers-date").val();
                $(".searchOffers").val('');
            }
        } else {
            $(".searchOffers").val('');
            $(".searchOffers-date").val('');
        }

        var ajaxCallData = {
            "name": searchVal,
            "date": searchValDate
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetByName", "Products")",
            data: ajaxCallData,
            dataType: "html",
            success: function (result) {
                debugger
                let cc = result;
                console.log(result)
                $(".oldRes").empty();
                $('.oldRes').append(result)
                //$(".oldRes").css("display", "none");
            },
            error: function (x, status, error) {
                console.log(x)
                console.log(status)
                console.log(error)
            }
        })
    }
</script>
