@model Agriculure.WebUi.Models.Offer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Offers">Offers</a></li>/<li>Delete Offer</li></ul></div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descreption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descreption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quntity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quntity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
