@model IEnumerable<Agriculure.WebUi.Models.Offer>

@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #AddOfferForm {
        width: 90%;
    }
    .contracts-container {
        padding: 50px 0;
        width: 85%;
        margin: 5px auto;
    }
    .bodyContainer {
        padding-bottom: 1px;
    }
</style>

<div class="contracts-container">
    
    <div style="width: 100%; background-color:#F0F0F0;padding:20px;border-radius:10px; margin-bottom:30px">
        <h2>Offers: @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })</h2>
    </div>

    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-6 col-lg-3">
                <div class="card mb-4 o-hidden">
                    @*<img alt="" class="card-img-top" src="./imgs/orange.jpg">*@
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-capitalize">@Html.DisplayFor(modelItem => item.User.Name)</h5>
                        <p class="m-0 text-small text-muted"><small>@Html.DisplayFor(modelItem => item.User.Name)</small></p>
                        <p class="m-0">@Html.DisplayFor(modelItem => item.quntity) units</p>
                        <p class="m-0">@Html.DisplayFor(modelItem => item.price)<del>{@Html.DisplayFor(modelItem => item.price) - 5}</del> per unit</p>
                        <p class="m-0">from: @Html.DisplayFor(modelItem => item.StartDate)</p>
                        <p class="m-0">to: @Html.DisplayFor(modelItem => item.EndDate)</p>
                        <p class="m-0">to: @Html.DisplayFor(modelItem => item.Status)</p>

                        <p class="text-muted mt-3">
                            @Html.DisplayFor(modelItem => item.Descreption)
                        </p>
                        <p class="text-muted mt-3">
                            @Html.DisplayFor(modelItem => item.currency)
                        </p>
                        <div class="actions">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@

                            <a href="@Url.Action("Delete","Offers", new { id = item.ID })"
                               onclick="return confirm('are you sure to delete item ?!')" class="btn btn-danger btn-icon-text" aria-label="Left Align">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


